
.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
    
.bgimage {
    height:100vh;
    background: linear-gradient(rgba(46, 46, 46, 0.7), rgba(0, 0, 0, 0.537)), 
    url("https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center center fixed;
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
}
.navbar {
    transition: background-color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.8);
}


#trigger {
    position: absolute;
    top: 100vh; 
    left: 0;
    right: 0;
    height: 1px;
    content: '';
}

#video-wrapper {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    position: relative;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#trigger:target ~ .navbar {
    background-color: black;
}

.content {
    height: 200vh; 
    background-color: lightgrey;
}

.hero_title {
    padding-top: 10rem;
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image_about {
    width: 100%;
}

.navbarDark {
    background: rgba(0, 0, 0, 0.8);
}


 .social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover, 
.fa-twitch:hover {
    color: #fff;
}
.fab {
    color: #000000;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

